<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new bike</title>
    <link rel="stylesheet" th:href="@{/style/side.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div id="container">
    <div id="menu">
        <div class="title">Add new bike</div>
        <div class="option"><a th:href="@{/my-bikes}">Cancel</a></div>
        <div style="clear:both;"></div>
    </div>

    <div id="content">
        <form method="post" th:object="${bike}" th:action="@{/add-bike}">
            <label for="model">Model </label>
            <br>
            <input type="text" id="model" th:field="*{model}"/>
            <br>

            <label for="registry_date">Registry date </label>
            <br>
            <input type="date" id="registry_date" th:field="*{registry_date}"/>
            <br>

            <label for="mileage">Mileage </label>
            <br>
            <input type="number" id="mileage" th:field="*{mileage}"/>
            <br>

            <label for="capacity">Engine capacity </label>
            <br>
            <input type="number" id="capacity" th:field="*{engine.capacity}"/>
            <br>

            <label for="horsepower">Horsepower </label>
            <br>
            <input type="number" id="horsepower" th:field="*{engine.horsepower}"/>
            <br>

            <label>Type </label>
            <br>
            <select th:field="*{engine.engineType}">
                <option value="FOUR_STROKE">4-stroke</option>
                <option value="TWO_STROKE">2-stroke</option>
                <option value="ELECTRIC">electric</option>
            </select>
            <br><br>

            <button type="submit">Save</button>
        </form>
    </div>
</div>
</body>
</html>