<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile settings</title>
    <link rel="stylesheet" th:href="@{/style/side.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div id="menu">
            <div class="title">Profile settings</div>
            <div class="option"><a th:href="@{/my-profile}">Go back to profile</a></div>
            <div style="clear:both;"></div>
        </div>

        <div id="content">

        </div>
    </div>
</body>
</html>