body {
    background-color: #FFFFFF;
    font-family: 'Inter', sans-serif;
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

#logo {
    color: #000000;
    margin-top: 20px;
    font-size: 44px;
    letter-spacing: 3px;
    font-weight: 700;
}

#menu {
    background-color: #263142;
    color: #FEFEFE;
    margin-top: 10px;
    padding: 10px;
}

.option {
    min-width: 50px;
    float: left;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-right: 2px solid #FEFEFE

}

.option:hover {
    background-color: #1A222E;
    cursor: pointer;
}

.option a {
    color: #FEFEFE;
    text-decoration: none;
}

#content a {
    color: #263142;
    text-decoration: none;
}

#logout {
    min-width: 50px;
    float: right;
    height: 25px;
    font-size: 18px;
    padding: 10px;
    border-left: 2px solid #FEFEFE
}

#logout:hover {
    background-color: #1A222E;
    cursor: pointer;
}

#logoutBtn {
    background: none;
    border: none;
    border: none;
    color: inherit;
    font: inherit;
    padding: 0;
    cursor: pointer;
}

#content {
    padding: 5px;
    margin-top:5px;
    font-size: 22px;
    height: 700px;
}

.tip {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #FEFEFE;
}

#footer {
    width: 980px;
    position:absolute;
    bottom:0;
    padding: 10px;
    margin-top:10px;
    font-size: 18px;
    color: #FEFEFE;
    background-color: #263142;
}

#quiz {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #FEFEFE;
}

.answer {
    background-color: #263142;
    color: #FEFEFE;
    border-radius: 10px;
    height: 45px;
    border: none;
    margin-bottom: 30px;
    text-align: left;
    width: 100%;
    font-size: 16px;
}

.answer:hover {
    background-color: #1A222E;
    cursor: pointer;
}

#nextButton {
    background-color: #263142;
    color: #FEFEFE;
    height: 45px;
    border: none;
    text-align: center;
    font-size: 16px;
    padding: 10px;
    margin: 20px auto 0;
    width: 80px;
    display: none;
}

#nextButton:hover {
    background-color: #1A222E;
    cursor: pointer;
}
