<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <link rel="stylesheet" th:href="@{/style/side.css}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div id="container">
  <div id="logo">
    <img th:src="@{/images/logo.png}" alt="I am biker"/>
  </div>

  <div id="header">
    <h1>Sign up</h1>
  </div>

  <div id="content">
    <form id="loginForm" th:object="${userDTO}" th:action="@{/auth/sign-up}" method="post">
      <label for="username">Username </label>
      <br>
      <input type="text" id="username" th:field="*{username}"/>
      <br>

      <label for="email">Email </label>
      <br>
      <input type="text" id="email" th:field="*{email}"/>
      <br>

      <label for="birthday">Birthday</label>
      <br>
      <input type="date" id="birthday" th:field="${userDetailsDTO.birthday}"/>
      <br>

      <label for="password">Password </label>
      <br>
      <input type="password" id="password" th:field="*{password}"/>
      <br>
      <br>
      <a th:href="@{/auth/login}">Already have an account? Login now.</a>

      <br><br>
      <button type="submit">Register</button>
    </form>
  </div>

</div>
</body>
</html>