<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Forum</title>
    <link rel="stylesheet" th:href="@{/style/side.css}"/>
    <link rel="stylesheet" th:href="@{/style/post.css}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div id="container">
    <div id="menu">
        <div class="title"><span>I am biker motorcycle forum</span></div>
        <div class="option"><a th:href="@{/my-profile}">Your Profile</a></div>
        <div class="option"><a th:href="@{/forum}">Motorcycle forum</a></div>
        <div class="option" th:if="${isUserAnAuthor}"><a th:href="@{/delete-post(id=${post.id})}">Delete post</a></div>
        <div class="option" th:if="${isUserAnAuthor}"><a th:href="@{/update-post(id=${post.id})}">Update post</a></div>


        <div style="clear:both;"></div>
    </div>
    <div id="postDiv">
        <div id="header">
            <h1 th:text="${post.title}"></h1>
            <span class="badge" th:text="${post.category}">Java</span>
        </div>

        <div id="post-meta">
            <div class="meta-element"><p>author:</p> <span th:text="${author}"></span></div>
            <div class="meta-element"><p>created at:</p> <span th:text="${#temporals.format(post.createdAt, 'dd.MM.yyyy HH:mm')}"></span></div>
            <div class="meta-element"><p>updated at:</p> <span th:text="${#temporals.format(post.updatedAt, 'dd.MM.yyyy HH:mm')}"></span></div>
        </div>

        <div id="content">
            <p th:text="${post.content}"></p>
        </div>

        <div id="tags-div">
            <div th:each="tag : ${post.tags}">
                <span class="tag" th:text="${tag}">tag</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>